body {

}


header {
  background: transparent;
  position: fixed;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  min-width: 640px;
  justify-content: space-around;
  list-style-type: none;
}

footer {
    background: transparent;
}

.view {
  min-height: 80vh;
  background: url('images/background_traversee.jpg') bottom center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.choices {

}

.rive-gauche {}

.rive-droite {


}

.couple {
  display: flex;
}

.page,
.chevalier {
  border: 1px solid red;
  max-width: 120px;
}

.couple div img {
  width: 100%;
}

.choices {
  display: flex;
  justify-content: space-evenly;
  padding: 70px;
  background: #004346;
}


.choice {
  max-width: 200px;
  display: flex;
}

.choice .couple {
  display: flex;
}

.choice img {

}
